.ContactContainer {
  max-width: 1140px;
  margin: 0 auto 4rem auto;

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1rem;
    color: var(--gray-300);
  }
}
