* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", "Roboto", sans-serif;
}

:root {
  --gray-300: #a8a8b3;
  --gray-500: #282d32;
  --gray-700: #323238;

  --button-color: #495057;

  --background-color: #212529;
  --footer-color: #343a40;
  --white: #ffffff;
  --purple: #8909df;
  --dark-purple: #7d12c5;
  --text-purple: #aa4aeb;
}

body {
  background: var(--background-color);
  color: var(--white);
  height: 100vh;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--gray-700);
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--button-color);
}
