.ContactContainer {
  max-width: 1140px;
  margin: 0 auto 4rem auto;
  display: grid;
  align-items: center;

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1rem;
    color: var(--gray-300);
  }

  div {
    margin-top: 1rem;

    ul {
      display: grid;
      align-items: center;
      max-width: 300px;
      margin: 0 auto;
      gap: 1rem;

      li {
        list-style: none;
        font-size: 1.25rem;
        text-align: center;
        background: var(--purple);
        padding: 1rem 1rem;
        border-radius: 0.25rem;
        transition: all 0.2s;

        &:hover {
          transform: translate3d(0, -2px, 0);
          background: var(--dark-purple);
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
        }
      }
    }
  }
}
