.HomeContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 7rem auto;
  gap: 4rem;

  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;

  .content {
    h1 {
      font-size: 2.5rem;
    }

    p {
      margin-bottom: 4rem;
      color: var(--gray-300);
    }
    div {
      display: flex;
      gap: 1rem;

      .talk {
        background: var(--purple);
        padding: 0.75rem 1.5rem;
        border-radius: 0.25rem;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }

      .cv {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        background: var(--button-color);
        color: var(--white);
        padding: 0.75rem 1.5rem;
        border-radius: 0.25rem;
        transition: filter 0.2s;
        // margin-left: 1rem;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }

  .svg {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .content,
  .svg {
    margin: 0 auto;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    p {
      grid-column: 1 / 2;
    }

    div {
      grid-column: 2 / 3;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 610px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
