@import "tailwindcss";
@import "./styles.css";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-LightItalic.otf") format("opentype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Italic.otf") format("opentype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-MediumItalic.otf") format("opentype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-BoldItalic.otf") format("opentype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-BlackItalic.otf") format("opentype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

:root {
	--radius: 0.625rem;
	--background: #fafafa;
	--foreground: oklch(0.141 0.005 285.823);

	--card: #ffffff;
	--card-foreground: oklch(0.141 0.005 285.823);

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);

	--primary: #27272a;
	--primary-foreground: oklch(0.985 0 0);

	--secondary: oklch(98.5% 0 0);
	--secondary-foreground: oklch(0.21 0.006 285.885);

	--muted: #fafafa;
	--muted-foreground: #71717a;

	--accent: #fafafa;
	--accent-foreground: oklch(0.141 0.005 285.823);

	--border: oklch(0.95 0 0);
	--input: oklch(0.95 0 0);
	--ring: oklch(0.705 0.015 286.067);

	--destructive: oklch(0.577 0.245 27.325);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
}

.dark {
	--background: #050505;
	--foreground: oklch(0.985 0 0);

	--card: #0a0a0a;
	--card-foreground: oklch(0.985 0 0);

	--popover: #0a0a0a;
	--popover-foreground: oklch(0.985 0 0);

	--primary: #e4e4e7;
	--primary-foreground: oklch(0.21 0.006 285.885);

	--secondary: #0a0a0a;
	--secondary-foreground: oklch(0.985 0 0);

	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: #71717a;

	--accent: oklch(0.2509 0.0027 248.08);
	--accent-foreground: oklch(0.985 0 0);

	--destructive: oklch(0.704 0.191 22.216);

	--border: #151515;
	--input: oklch(0.274 0.006 286.033 /50%);
	--ring: #0a0a0a;

	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: "Satoshi", sans-serif;
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
}
