@layer base {
	* {
		@apply border-border outline-ring/50;
		-webkit-font-smoothing: antialiased;
	}
}

@layer utilities {
	body {
		@apply bg-background text-foreground;
	}

	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #333;
		border-radius: 4px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
