.HeaderContainer {
  color: var(--white);

  div {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    button {
      display: none;
    }

    .dropDown {
      display: none;
    }

    > a {
      font-size: 1.5rem;
      font-weight: 600;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-size: 1.125rem;
        color: var(--gray-300);
        transition: color 0.2s;
        margin: 0 1.25rem;
        padding: 1rem 0;

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}

.active {
  position: relative;
  color: var(--white) !important;
}

.active::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: 0;
  background: var(--purple);
}

@media (max-width: 768px) {
  .HeaderContainer {
    div {
      nav {
        a {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 510px) {
  .HeaderContainer {
    div {
      button {
        display: inherit;
        background: none;
        border: none;
        padding: 1rem;
        padding-right: 0;
      }

      .menu {
        display: none;
      }

      .dropDown {
        display: grid;
        margin: 11.5rem 1rem 0 0;
        padding: 1rem 3rem 1rem 1rem;
        border-radius: 0.25rem;
        position: absolute;
        background: var(--button-color);
        right: 0;
        top: -7rem;
        transition: all 0.3s;
        animation: up 0.3s;

        a {
          width: 100%;
        }
      }
    }
  }
}

@keyframes up {
  from {
    transform: translate3d(0, -15px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
