.ProjectContainer {
  max-width: 1140px;
  margin: 0 auto 4rem auto;

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1rem;
    color: var(--gray-300);
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 1rem 1rem 1rem;

  li {
    margin-top: 1rem;
    width: 100%;
    transition: transform .3s;

    &:hover {
      transform: translate3d(0, -5px, 0);
    }
  }

  .image {
    height: 180px;
    img {
      width: 100%;
      height: 180px;
      border-radius: 0.25rem 0.25rem 0 0;
    }
  }
  .content {
    background: var(--gray-500);
    height: 130px;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;

    strong {
      font-weight: 500;
      display: block;
      margin-bottom: 0.5rem;
    }

    p {
      color: #828282;
      font-size: 0.875rem;
      filter: brightness(1.5);
    }
  }
}
