.footer {
  background: var(--gray-500);
  height: 60px;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    span {
      color: var(--text-purple);
      font-weight: 600;
    }
  }
}
