.footer {
  // background: var(--gray-500);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;

  .desc {
    margin-bottom: 0.5rem;
    font-size: .75rem;
    font-weight: 600;
  }

  .social {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
}
